/* .full{
  min-height: 100%;
} */


.head{
    height: 70px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    background:#ffffff;
    border-bottom: 3px inset #dddddd;
    color: #777777;
    
}

#name{
    height: 70px;
    width: 200px;
    color:white;
    font-size: 25px;
    text-align: center;
    padding: 20px 20px 0px 0px;
    background:#4aaaa5; 
}
a{
  color:#777777;
}
.items{
  font-size: smaller;
  padding-top: 20px;
  /* margin-right: 20px; */

}
.main{
  background-image: url("blue-snow.png");
  font-family: Arial, Helvetica, sans-serif;
  min-height: 1400px;
  padding-top: 50px;
}
.content{
  background: white;
  min-height: 400px;
}
  
            
#title{
  font-size: larger;
  color: #4aaaa5;
  margin-top: 20px;
  border-bottom: 3px inset #dddddd;

}
#img{
  height: 200px;
  width: 150px;
  padding: 20px 10px 20px 0px;
  align-content: center;

}
#text{
  padding: 30px 10px 20px 0px;
  font-size: small;
  
}
.footer{
  height: 70px;
  position: sticky;
  background-color:#666666;
  border-top:8px solid #4aaaa5;
  bottom: 0px;
  text-align: center;
  font-size: x-small;
  color:white; 
  padding-top: 40px; 
}

